@font-face {
    font-family: "OpenSans-Bold";
    src: url(../../fonts/OpenSans-Bold.woff) format('woff');
    font-weight: 300;
}
@font-face {
    font-family: "OpenSans-Light";
    src: url(../../fonts/OpenSans-Light.woff) format('woff');
}
@font-face {
    font-family: "OpenSansLight-Italic";
    src: url(../../fonts/OpenSansLight-Italic.woff) format('woff');
}
@font-face {
    font-family: "Gora-Free";
    src: url(../../fonts/GoraFree-Regular.woff) format('woff');
    font-weight: 300;
}